<section>
  <div class='list-special'>
    <h2 class="title">My mangas list</h2>
    <a href="/dashboard/manga-create">
      <i class="far fa-plus-square"></i>
    </a>
  </div>
  <div class="content">
    {{#each mangas}}
    <div class="card">
      <div class="photo">
        <img src="{{this.cover}}" alt="{{this.name}}">
      </div>
      <div class="info">
        <h3>{{ this.name }}</h3>
        <h6>{{this.category}}</h6>
        <h6>{{this.author.name}}</h4>
        <h6>{{this.episodeNumber}} Episodes</h4>
          <div id="update-delete">
            <a href="/dashboard/delete/{{this._id}}"><i class="fas fa-trash-alt"></i></a>
            <a href="/dashboard/update/{{this._id}}"><i class="fas fa-pencil-alt"></i></a>
          </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>