<h1>user profile</h1>
{{> flashMessage }}

<p>
    name: {{currentUser.name}}<br>
    lastname: {{currentUser.lastname}}<br>
    email: {{currentUser.email}}<br>
    role: {{currentUser.role}}<br>
</p>

<h1>My mangas list</h1>
<br>
<a href="/profile/manga-create">Add Manga</a>

<ul>
  {{#each mangas}}
    <li>
          {{ this.name }} 
          <br>
          {{this.category}} 
          <br>
          {{this.episodeNumber}}
          <br>
          <img src="{{this.cover}}" alt="{{this.name}}">
          <br>
          <span>|</span>
          <a href="/profile/delete/{{this._id}}">Delete</a>
          <span>|</span>
          <a href="/profile/update/{{this._id}}">Update</a>
          <span>|</span>

      </li>
  {{/each}}
</ul>