<h2>{{ manga.name }} </h2>

<img src="{{manga.cover}}" alt="{{manga.name}}">
            <br>
          {{manga.category}} 
          <br>
          {{manga.episodeNumber}}
          <br>
          {{manga.description}}
          
          
          <h4>Leave a comment</h4>
          <form action="/mangas/{{manga._id}}" method="post">
          <textarea name="content" id="content" cols="30" rows="10"></textarea>
          <button>Comment it</button>
          </form>

          <div>
            <ul>
            {{#each comments}}
  <li>
              {{this.content}}
{{this.author.name}}
  </li>
             {{/each}}
            </ul>
           </div>
   
