<section >
<h2>{{ manga.name }} </h2>

<img src="{{manga.cover}}" alt="{{manga.name}}">
            <br>
          {{manga.category}} 
          <br>
          {{manga.episodeNumber}}
          <br>
          {{manga.description}}
          
          
          <h4>Leave a comment</h4>
          <form  action="/mangas/{{manga._id}}" method="post">
          <textarea name="content" id="content" cols="30" rows="10"></textarea>
          <button>Comment it</button>
          </form>

          <div>
            <ul>
            {{#each comments}}
  <li>
              {{this.content}}
              {{this.author.name}}
              {{!-- {{# if req.session.currentUser.id === this.author.id}} --}}
              <a href="/mangas/{{../manga._id}}/comment/{{this._id}}/delete"><i class="fas fa-trash-alt"></i></a>
              <a href="/mangas/{{../manga._id}}/comment/{{this._id}}/update"><i class="fas fa-pen"></i></a>
              {{!-- {{ if}} --}}
  </li>
             {{/each}}
            </ul>
            
           </div>
   
</section>