<section id="detail-section">
  <h2 class="title">{{ manga.name }} </h2>
  <div id="detail-content">
    <div id="detail-content-card">
      <div id="detail-content-photo" class="photo">
        <img src="{{manga.cover}}" alt="{{manga.name}}">
      </div>
    </div>
    <div id="detail-content-info" class="info">
      <p><strong>Category :</strong> {{manga.category}}</p>
      <p><strong>Added by :</strong> {{manga.author.name}}</p>
      <p><strong>Total episodes number :</strong> {{manga.episodeNumber}}</p>
      <p><strong>Description :</strong> {{manga.description}}</p>
    </div>
  </div>
  <div class="detail-comment" id="detail-comment">
    <div>
      <h4>Leave a comment</h4>
      <form action="/mangas/{{manga._id}}" method="post">
        <textarea name="content" id="content" ></textarea>
        <button>Comment it</button>
      </form>
    </div>
    {{#each comments}}
    <div class='comments'>
      
      <p id='comment-format'><strong>{{this.author.name}}</strong> : <em>{{this.content}}</em></p>
      
      
      {{#compare ../currentUser._id this.author._id operator="==" }}
      <a href="/mangas/{{../manga._id}}/comment/{{this._id}}/delete"><i class="fas fa-trash-alt"></i></a>
      <a href="/mangas/{{../manga._id}}/comment/{{this._id}}/update"><i class="fas fa-pencil-alt"></i></a>
      {{/compare}}
      
    </div>
    {{/each}}
  </div>
</section>