<h2>{{ manga.name }} </h2>

<img src="{{manga.cover}}" alt="{{manga.name}}">
            <br>
          {{manga.category}} 
          <br>
          {{manga.episodeNumber}}
          <br>
          {{manga.description}}
          
          
          
   
