<h2>Mangas</h2>

<ul>
  {{#each mangas}}
    <li>
          {{ this.name }} 
          <br>
          {{this.author.name}} 
          <br>
          {{this.category}} 
          <br>
          {{this.episodeNumber}}
          <br>
          <img src="{{this.cover}}" alt="{{this.name}}">
          <br>
          <a href="/mangas/{{this._id}}">Read more</a>
          
      </li>
  {{/each}}
</ul>
