<section class="cards" id="services" >
<h2 class="title">All  Mangas</h2>

<div class="content">
  {{#each mangas}}
    <div class="card">
        <div class="photo">
          <img src="{{this.cover}}" alt="{{this.name}}">
        </div>
                <div class="info">
                    <h3>{{ this.name }}</h3>
                    <br>
                    <h4>{{this.category}}</h4>
                    <br>
                    <h6>{{this.author.name}}</h4>
                    <br>
                    <h6>{{this.episodeNumber}} Episodes</h4>
                    <br>
                    <a href="/mangas/{{this._id}}">Read more</a>
                </div>
    </div>
    
  {{/each}}
</div>
</section>
